<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">

  <!-- wp:post-title {"className":"text-center text-4xl font-bold", "level":1} /-->

  <!-- wp:post-featured-image {"sizeSlug":"large"} /-->

  <!-- wp:post-content /-->

  <!-- wp:heading {"level":2} -->
  
  <!-- wp:group {"className":"flex flex-row"} -->
  <div class="wp-block-group flex flex-row justify-center">
    <!-- wp:post-date {"className":"py-2 px-5 font-bold"} /-->
    <!-- wp:post-terms {"className":"max-w-[10rem] border-2 rounded-2xl border-grey py-2 px-5 m-0","term":"genre"} /-->
  </div>
  <!-- /wp:group -->
  
  <h2>Latest books</h2>
  <!-- /wp:heading -->

  <!-- wp:html -->
  <div id="js-latest-books" aria-live="polite"></div>
  <!-- /wp:html -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
